@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

html{
    max-width: 100%;
}

body{
  margin: 0;
  color: white;
//   font-family: 'Rubik', sans-serif;
  font-family: 'Wix Madefor Display', sans-serif;
  background: #020306;
}

.banner{
  background-image: linear-gradient(to bottom, #020306, #101d41, #2e2c78, #6830a9, #b30ecf);
  display: block;
  width: 100%;
  height: 929px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.flex{
    display: flex;

    &.spaceBetween{
        justify-content: space-between;
    }
    &.spaceEvenly{
        justify-content: space-evenly;
    }
}

header{
    width: 100%;
    align-items: center;
    margin-top: 55px;


    .logo{
        img{
            height: 36px;
        }
        
    }

    nav{
        ul{
            li{
                &:hover{
                    color: #b30ecf;
                    transition: 0.2s all;
                }
            }
        }
    }

    .menu{
        ul{
            list-style: none;
            
            li {
                display: inline-block;
                padding-right: 25px;
                font-weight: 500;
            }
        }
        
    }
}

.buttonPattern{
    background-color: black;
    color: white;
    padding: 15px 48px;
    border-radius: 95px;
    box-shadow: none;
    outline: none !important;
    border: 2px solid white;
    transition: 0.2s all;
    font-weight: 600;

    &.white{
        background-color: white;
        color: black;
        padding: 10px 48px;
        height: 48px;
    }
}

.buttonPattern:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.2s all;
}