.banner{
    background-image: url('../../../public/img/background.jpg');
    background-size: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.banner h1, h2{
    font-size: 4.8em;
}

mark{
    color: white;
    background-color: rgb(122, 100, 255);
}

.bannerPage{
    position: relative;
    height: 100vh;
    z-index: -1;
}

.roller{
    right: 30px;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 32px;
    width: 100%;
    gap: 30px;
}

.banner h1{
    width: 67%;
    margin: 0 auto;
}

.roller h3 {
    font-weight: 200px;
}

/********************************************/

.titlesIntro{
    font-size: 3.4em;
    text-align: center;
    font-weight: 600;
    width: 80%;
    margin: 100px auto;
}

.servicesTitle{
    text-align: center;
}

section .serviceGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

