header{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 170px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    font-size: 17px;
}

ul li{
    cursor: pointer;
}

.headerRight{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;
}

.round{
    background-color: rgba(0,0,0,0.7);
    padding: 11px 45px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 25px;
}
